.links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.links-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.links-navlink {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  padding: 0px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: 0px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.links-navlink:hover {
  color: #2d2d2a;
}
.links-link {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  padding: 0px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: 0px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.links-link:hover {
  color: #2d2d2a;
}
.links-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #129700;
}
.links-get-started:hover {
  background-color: #5228F5;
}
.links-text {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}

.links-root-class-name1 {
  margin-top: 0px;
}

.links-root-class-name3 {
  margin-top: 0px;
}
@media(max-width: 991px) {
  .links-container {
    justify-content: flex-end;
  }
  .links-root-class-name {
    display: flex;
  }
  .links-root-class-name2 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .links-links {
    align-items: flex-start;
    flex-direction: column;
  }
  .links-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .links-navlink {
    color: #101010;
  }
  .links-link {
    color: #101010;
  }
  .links-get-started {
    display: flex;
    padding: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .links-root-class-name1 {
    display: none;
  }
  .links-root-class-name3 {
    display: none;
  }
}
@media(max-width: 479px) {
  .links-link {
    color: rgb(16, 16, 16);
    font-style: normal;
    font-weight: 400;
  }
}

.point-container {
  gap: 0;
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  transition: 0.5s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #dba31b;
}
.point-container:hover {
  transform: scale(106%);
  box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.37);
}
.point-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.point-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.point-icon {
  fill: #ffffff;
  width: 20px;
  height: auto;
}
.point-text {
  color: rgb(255, 255, 255);
  width: 100%;
}
.point-container3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.point-icon2 {
  fill: #ffffff;
  width: 20px;
  height: auto;
}
.point-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
}
.point-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.point-icon4 {
  fill: #ffffff;
  width: 20px;
  height: auto;
}
.point-text4 {
  color: rgb(255, 255, 255);
  width: 100%;
}
.point-root-class-name6 {
  background-color: rgba(219, 163, 27, 0.24);
}
@media(max-width: 479px) {
  .point-container {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.point2-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  transition: 0.5s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(144, 144, 144, 0.25);
}
.point2-container:hover {
  transform: scale(106%);
  box-shadow: 5px 5px 10px 0px rgba(33, 33, 33, 0.37);
}
.point2-icon {
  fill: #fff700;
  width: 20px;
  height: auto;
}
.point2-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.point2-text {
  color: #fff700;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.point2-text1 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.point2-root-class-name {
  width: 50%;
}
.point2-root-class-name1 {
  width: 50%;
}
.point2-root-class-name2 {
  width: 50%;
}
.point2-root-class-name3 {
  width: 50%;
}
.point2-root-class-name4 {
  width: 50%;
}
.point2-root-class-name5 {
  width: 50%;
  opacity: 0.01;
}
@media(max-width: 479px) {
  .point2-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .point2-root-class-name {
    width: 100%;
  }
  .point2-root-class-name1 {
    width: 100%;
  }
  .point2-root-class-name2 {
    width: 100%;
  }
  .point2-root-class-name3 {
    width: 100%;
  }
  .point2-root-class-name4 {
    width: 100%;
  }
  .point2-root-class-name5 {
    width: 100%;
    display: none;
  }
}

.footer-footer {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.footer-branding {
  width: var(--dl-size-size-large);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-bottom {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0px;
  align-items: flex-start;
  user-select: none;
  flex-direction: row;
  justify-content: center;
}
.footer-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.footer-text {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.footer-text01 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.footer-container01 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
.footer-text02 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.footer-text03 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.footer-container02 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.footer-container03 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
}
.footer-container04 {
  width: 100%;
  height: 292px;
  max-width: 500px;
}
.footer-container05 {
  display: contents;
}
.footer-get-started {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #1e38f9;
}
.footer-text04 {
  color: rgb(255, 255, 255);
}
.footer-container06 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-container07 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-text05 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.footer-text06 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
}
.footer-get-started1 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #129700;
}
.footer-get-started1:hover {
  background-color: #5228F5;
}
.footer-text07 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.footer-container08 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-text08 {
  color: rgb(188, 188, 188);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.footer-container09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-icon {
  fill: rgb(188, 188, 188);
  width: 30px;
  cursor: pointer;
  height: auto;
}
.footer-icon2 {
  fill: rgb(188, 188, 188);
  width: 30px;
  cursor: pointer;
  height: auto;
}
.footer-bottom1 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: 0px;
  align-items: center;
  user-select: none;
  flex-direction: column;
}
.footer-container10 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-text09 {
  color: rgb(104, 104, 104);
}
.footer-link {
  color: #0050df;
  cursor: pointer;
  text-decoration: none;
}



@media(max-width: 991px) {
  .footer-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .footer-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text01 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text02 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text03 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text05 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text06 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text08 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-text09 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-link {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-bottom {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-container04 {
    width: 100%;
  }
  .footer-text06 {
    color: rgb(188, 188, 188);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .footer-text09 {
    color: rgb(104, 104, 104);
    font-size: 12px;
    line-height: 25px;
  }
}

.kalingga-group-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.kalingga-group-header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  z-index: 10;
  position: fixed;
  max-width: 991px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.kalingga-group-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.kalingga-group-logo {
  width: auto;
  height: 50px;
  margin-left: var(--dl-space-space-halfunit);
}
.kalingga-group-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.kalingga-group-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.kalingga-group-centered {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: auto;
  box-sizing: initial;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  background-color: rgba(23, 23, 23, 0.58);
}
.kalingga-group-left {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kalingga-group-navlink {
  display: contents;
}
.kalingga-group-logo1 {
  width: auto;
  height: 40px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.kalingga-group-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: 0px;
}
.kalingga-group-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.kalingga-group-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.kalingga-group-container02 {
  display: contents;
}
.kalingga-group-container03 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.kalingga-group-hero {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 135px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/photo-1585747860715-2ba37e788b70.jpg?updatedAt=1719403522180');
  background-position: top left,center;
}
.kalingga-group-branding {
  width: 250px;
  height: auto;
  z-index: 100;
  object-fit: cover;
}
.kalingga-group-link {
  display: contents;
}
.kalingga-group-get-started {
  width: auto;
  cursor: pointer;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(219, 163, 27, 0.52);
}
.kalingga-group-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.kalingga-group-slider {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100vh;
  margin: auto;
  display: inline-block;
  z-index: 1;
  position: absolute;
}
.kalingga-group-slider-slide {
  display: flex;
  background-size: 100%,cover;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/pexels-photo-2040189.jpeg_auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1?updatedAt=1719441508173');
  background-repeat: repeat,no-repeat;
  background-position: top left,top;
}
.kalingga-group-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/pexels-photo-1319459.jpeg_auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1?updatedAt=1719441463691');
}
.kalingga-group-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/photo-1585747860715-2ba37e788b70.jpg?updatedAt=1719403522180');
}
.kalingga-group-slider-pagination {
  display: none;
}
.kalingga-group-slider-button-prev {
  display: none;
}
.kalingga-group-slider-button-next {
  display: none;
}
.kalingga-group-hero1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/pexels-photo-1319459.jpeg_auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1?updatedAt=1719441463691');
  background-position: top left,center;
}
.kalingga-group-video {
  right: 0px;
  width: auto;
  bottom: 0px;
  filter: grayscale(100%);
  height: 100%;
  margin: auto;
  opacity: 10%;
  position: absolute;
  border-radius: 0px;
  border-top-left-radius: 300px;
}
.kalingga-group-container04 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  z-index: 5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container05 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-container06 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text {
  color: rgb(231, 231, 231);
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 900;
}
.kalingga-group-container07 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text01 {
  color: rgb(231, 231, 231);
  font-size: 16px;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.kalingga-group-container08 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.kalingga-group-link1 {
  display: contents;
}
.kalingga-group-get-started1 {
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(219, 163, 27, 0.52);
}
.kalingga-group-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.kalingga-group-hero2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/pexels-photo-2040189.jpeg_auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1?updatedAt=1719441508173');
}
.kalingga-group-container09 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-container10 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text02 {
  color: rgb(231, 231, 231);
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 900;
}
.kalingga-group-container11 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text03 {
  fill: #e7e7e7;
  color: rgb(231, 231, 231);
  font-size: 16px;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.kalingga-group-container12 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.kalingga-group-container13 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.kalingga-group-container14 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.kalingga-group-container15 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.kalingga-group-link2 {
  display: contents;
}
.kalingga-group-get-started2 {
  width: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(219, 163, 27, 0.52);
}
.kalingga-group-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.kalingga-group-hero3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.86) 100.00%);
}
.kalingga-group-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.kalingga-group-container18 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container19 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-container20 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text04 {
  color: rgb(231, 231, 231);
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 900;
}
.kalingga-group-container21 {
  flex: 1;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.kalingga-group-text05 {
  fill: #e7e7e7;
  color: rgb(231, 231, 231);
  width: 100%;
  font-size: 16px;
  max-width: auto;
  text-align: center;
  margin-bottom: 0px;
}
.kalingga-group-link3 {
  display: contents;
}
.kalingga-group-get-started3 {
  width: auto;
  cursor: pointer;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgba(219, 163, 27, 0.52);
}
.kalingga-group-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.kalingga-group-hero4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 0px;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0.00%,rgba(0, 0, 0, 0.59) 100.00%),url('https://ik.imagekit.io/3ij6aly19/Kalingga/Logo/pexels-photo-1319459.jpeg_auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1?updatedAt=1719441463691');
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.kalingga-group-container22 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container23 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  backdrop-filter: blur(10px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.kalingga-group-branding1 {
  width: var(--dl-size-size-large);
  margin-bottom: var(--dl-space-space-unit);
}
.kalingga-group-text08 {
  fill: #e7e7e7;
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-family: "Georgia";
  font-weight: 900;
}
.kalingga-group-container24 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: stretch;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container25 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff0000;
}
.kalingga-group-text11 {
  color: rgb(255, 255, 255);
}
.kalingga-group-text13 {
  font-weight: 700;
  text-transform: uppercase;
}
.kalingga-group-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-container27 {
  display: contents;
}
.kalingga-group-container28 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-container29 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text15 {
  color: #ffffff;
}
.kalingga-group-textinput {
  fill: #ffffff;
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-container30 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text16 {
  color: #ffffff;
}
.kalingga-group-textinput1 {
  fill: #ffffff;
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-container31 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-container32 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text17 {
  color: #ffffff;
}
.kalingga-group-textinput2 {
  fill: #ffffff;
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-container33 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text18 {
  color: #ffffff;
}
.kalingga-group-textinput3 {
  fill: #ffffff;
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-container34 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text19 {
  color: #ffffff;
}
.kalingga-group-select {
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-option {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option1 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option2 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option3 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option4 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option5 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-container35 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text20 {
  color: #ffffff;
}
.kalingga-group-text21 {
  color: #ffffff;
  padding: var(--dl-space-space-halfunit);
  font-size: 14px;
  background-color: #ff0000;
}
.kalingga-group-textinput4 {
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-container36 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.kalingga-group-text22 {
  color: #ffffff;
}
.kalingga-group-select1 {
  color: #ffffff;
  width: 100%;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0);
}
.kalingga-group-option6 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-option7 {
  padding: var(--dl-space-space-unit);
  background: black;
}
.kalingga-group-container37 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kalingga-group-checkbox {
  width: 16px;
  height: 16px;
}
.kalingga-group-text23 {
  color: #ffffff;
  width: 100%;
}
.kalingga-group-container38 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.kalingga-group-checkbox1 {
  width: 16px;
  height: 16px;
}
.kalingga-group-text24 {
  color: #ffffff;
  width: 100%;
}
.kalingga-group-button {
  fill: var(--dl-color-gray-black);
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: rgb(1, 159, 4) 0px 5px 0px 0px, rgba(0, 0, 0, 0.52) 5px 5px 10px 0px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(0, 113, 2);
}
.kalingga-group-button:hover {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px 0px rgb(1, 159, 4),0px 0px 0px 0px  rgba(0, 0, 0, 0.52);
  background-color: #055007;
}
.kalingga-group-text25 {
  color: rgb(0, 0, 0);
  width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(241, 255, 0);
}
.kalingga-group-container39 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.kalingga-group-text26 {
  color: #ffffff;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  font-size: 14px;
  text-align: center;
}
.kalingga-group-text28 {
  font-weight: 700;
}
.kalingga-group-text30 {
  color: #ffffff;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  font-size: 14px;
  text-align: center;
}
.kalingga-group-text32 {
  font-weight: 700;
}
.kalingga-group-container41 {
  display: contents;
}
.kalingga-group-link4 {
  display: contents;
}
.kalingga-group-container42 {
  right: var(--dl-space-space-unit);
  bottom: var(--dl-space-space-unit);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  animation-name: tada;
  flex-direction: column;
  animation-delay: 0s;
  text-decoration: none;
  background-color: #ffffff;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-iteration-count: 99;
  animation-timing-function: ease-in;
}
.kalingga-group-icon10 {
  fill: #000000;
  width: 24px;
  height: 24px;
}
.kalingga-group-container43 {
  display: none;
}
.kalingga-group-container44 {
  display: contents;
}
@media(max-width: 991px) {
  .kalingga-group-logo {
    width: 64px;
    height: 58px;
  }
  .kalingga-group-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .kalingga-group-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .kalingga-group-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
  }
  .kalingga-group-left {
    width: 100%;
    height: 51px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-logo1 {
    width: auto;
  }
  .kalingga-group-mobile-menu-button {
    display: none;
  }
  .kalingga-group-branding1 {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .kalingga-group-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-left {
    margin-left: var(--dl-space-space-unit);
  }
  .kalingga-group-logo1 {
    width: auto;
  }
  .kalingga-group-right {
    margin-right: var(--dl-space-space-unit);
  }
  .kalingga-group-mobile-menu-button {
    display: flex;
  }
  .kalingga-group-hero {
    background-color: #ffffff;
  }
  .kalingga-group-hero1 {
    background-color: #ffffff;
  }
  .kalingga-group-container08 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .kalingga-group-hero2 {
    background-color: #ffffff;
  }
  .kalingga-group-container12 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .kalingga-group-hero3 {
    background-color: #ffffff;
  }
  .kalingga-group-container16 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container18 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .kalingga-group-container22 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container24 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .kalingga-group-icon {
    align-items: center;
    justify-content: center;
  }
  .kalingga-group-logo1 {
    width: auto;
  }
  .kalingga-group-video {
    width: 100%;
    height: auto;
  }
  .kalingga-group-container08 {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container12 {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container13 {
    flex-direction: column;
  }
  .kalingga-group-container14 {
    flex-direction: column;
  }
  .kalingga-group-container15 {
    flex-direction: column;
  }
  .kalingga-group-container16 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container18 {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-hero4 {
    gap: var(--dl-space-space-unit);
  }
  .kalingga-group-container22 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-container24 {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
  }
  .kalingga-group-text11 {
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  .kalingga-group-text13 {
    font-weight: 700;
  }
  .kalingga-group-container28 {
    flex-direction: column;
  }
  .kalingga-group-container31 {
    flex-direction: column;
  }
}
