.links-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
}
.links-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.links-link {
  color: #ffffff;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: 0px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.links-link1 {
  color: #ffffff;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: 0px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.links-link2 {
  color: #ffffff;
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  margin-right: 0px;
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.links-link3 {
  display: contents;
}
.links-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #129700;
}
.links-get-started:hover {
  background-color: #5228F5;
}
.links-text {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}

.links-root-class-name1 {
  margin-top: 0px;
}
@media(max-width: 991px) {
  .links-container {
    display: none;
    justify-content: flex-end;
  }
  .links-get-started {
    display: none;
  }
  .links-root-class-name {
    display: flex;
  }
}
@media(max-width: 767px) {
  .links-links {
    align-items: flex-start;
    flex-direction: column;
  }
  .links-container {
    display: flex;
    flex-direction: column;
  }
  .links-get-started {
    display: flex;
    padding: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .links-root-class-name1 {
    display: none;
  }
}
